

@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

@using DinoDiner.Menu;

<h1>Menu</h1>

<h2>Combos</h2>

@for (int i = 0; i < Model.Menu.AvailableCombos.Count; i++)
{
    <div class="menu-item">

        @if (Model.Menu.AvailableCombos[i] is CretaceousCombo combo)
        {
            <h3>@combo.ToString()</h3>
            <ul>
                <p>Price: @combo.Price</p>
                <p>Calories: @combo.Calories</p>

                <b>@combo.Entree.ToString()</b>
                <p>&emsp;&ensp;Ingredients: </p>
                @for (int j = 0; j < combo.Entree.Ingredients.Count; j++)
                {
                    <ul>
                        <li>@combo.Entree.Ingredients[j]</li>
                    </ul>
                }

                <b>@combo.Side.ToString()</b>
                <p>&emsp;&ensp;Ingredients: </p>
                @for (int j = 0; j < combo.Side.Ingredients.Count; j++)
                {
                    <ul>
                        <li>@combo.Side.Ingredients[j]</li>
                    </ul>
                }

                <b>@combo.Drink.ToString()</b>
                <p>&emsp;&ensp;Ingredients: </p>
                @for (int j = 0; j < combo.Drink.Ingredients.Count; j++)
                {
                    <ul>
                        <li>@combo.Drink.Ingredients[j]</li>
                    </ul>
                }
            </ul>
        }
    </div>
}

<h2>Entrees</h2>

@for (int i = 0; i < Model.Menu.AvailableEntrees.Count; i++)
{
    <div class="menu-item">

        @if (Model.Menu.AvailableEntrees[i] is Entree entree)
        {
            <b>@entree.ToString()</b>
            <ul>
                <p>Price: @entree.Price</p>
                <p>Calories: @entree.Calories</p>

                <p>Ingredients:</p>
                @for (int j = 0; j < entree.Ingredients.Count; j++)
                {
                    <ul>
                        <li>@entree.Ingredients[j]</li>
                    </ul>
                }
            </ul>
        }
    </div>
}

<h2>Sides</h2>

@for (int i = 0; i < Model.Menu.AvailableSides.Count; i++)
{
    <div class="menu-item">

        @if (Model.Menu.AvailableSides[i] is Side side)
        {
            <b>@side.ToString()</b>
            <ul>
                <p>Price: @side.Price</p>
                <p>Calories: @side.Calories</p>

                <p>Ingredients:</p>
                @for (int j = 0; j < side.Ingredients.Count; j++)
                {
                    <ul>
                        <li>@side.Ingredients[j]</li>
                    </ul>
                }
            </ul>
        }
    </div>
}

<h2>Drinks</h2>

@for (int i = 0; i < Model.Menu.AvailableDrinks.Count; i++)
{
    <div class="menu-item">

        @if (Model.Menu.AvailableDrinks[i] is Drink drink)
        {
            <b>@drink.ToString()</b>
            <ul>
                <p>Price: @drink.Price</p>
                <p>Calories: @drink.Calories</p>

                <p>Ingredients:</p>
                @for (int j = 0; j < drink.Ingredients.Count; j++)
                {
                    <ul>
                        <li>@drink.Ingredients[j]</li>
                    </ul>
                }
            </ul>
        }
    </div>
}